/* ボタン一般設定 */
/* top +400px  -100px*/
/* left +100px */

:root {
  --basecolor:silver;
  --shadowcolor:rgba(105, 105, 105, 0.6);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}
.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

/* 軸のスタイル */
g.x_axis path, g.y_axis path {
  stroke: black;
  stroke-width: 1px;
}
/* 罫線スタイル */
g.x_axis line, g.y_axis line {
  stroke: lightgray;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

/* 点上にマウスを乗せる */
.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 2px;
  font: 6px;
  background: white;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
  visibility: hidden;
}

/* 折れ線グラフ */
#chart {
  position: absolute;
  left: 500px;
}

/* ボタン */
#sapporo {
  background-color:var(--basecolor); 
  position: absolute;
  top: 220px; /*var(--plus_height)*/ /*490*/
  left: 350px;
  z-index: 1000;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  -webkit-box-shadow: 0 3px 0 var(--shadowcolor);
  box-shadow: 0 3px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:14px 0;
  vertical-align: middle;
  text-decoration: none;
  color: #212529;
  font-size: larger;
}
#sapporo:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 var(--shadowcolor);
  box-shadow: 0 2px 0 var(--shadowcolor);
}
#sendai {
  background-color: var(--basecolor);
  position: absolute;
  top: 340px;
  left: 375px;
  z-index: 1000;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  -webkit-box-shadow: 0 3px 0 var(--shadowcolor);
  box-shadow: 0 3px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:10px 0;
  vertical-align: middle;
  text-decoration: none;
  color: #212529;
  font-size: larger;
}
#sendai:hover {
  -webkit-transform: translate(0, 2.5px);
  transform: translate(0, 2.5px);
  -webkit-box-shadow: 0 1px 0 var(--shadowcolor);
  box-shadow: 0 1px 0 var(--shadowcolor);
}
#tokyo {
  background-color: var(--basecolor);
  position: absolute;
  top: 360px;
  left: 420px;
  z-index: 1000;
  border-radius: 50%;
  width: 126px;
  height: 126px;
  -webkit-box-shadow: 0 5px 0 var(--shadowcolor);
  box-shadow: 0 5px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding: 40px 0;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  font-size: xx-large;
}
#tokyo:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 1px 0 var(--shadowcolor);
  box-shadow: 0 1px 0 var(--shadowcolor);
}
#yokohama {
  background-color:var(--basecolor);
  position: absolute;
  top: 480px;
  left: 305px;
  z-index: 1000;
  border-radius: 50%;
  width: 57px;
  height: 57px;
  -webkit-box-shadow: 0 4px 0 var(--shadowcolor);
  box-shadow: 0 4px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding: 17px 0;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  font-size: large;
}
#yokohama:hover {
  -webkit-transform: translate(0, 3.3px);
  transform: translate(0, 3.3px);
  -webkit-box-shadow: 0 1px 0 var(--shadowcolor);
  box-shadow: 0 1px 0 var(--shadowcolor);
}
#kanazawa {
  background-color:silver;
  position: absolute;
  top: 390px;
  left: 265px;
  z-index: 1000;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  -webkit-box-shadow: 0 3px 0 var(--shadowcolor);
  box-shadow: 0 3px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:8px 0;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}
#kanazawa:hover {
  -webkit-transform: translate(0, 2.2px);
  transform: translate(0, 2.2px);
  -webkit-box-shadow: 0 1.2px 0 var(--shadowcolor);
  box-shadow: 0 1.2px 0 var(--shadowcolor);
}
#nagoya {
  background-color:var(--basecolor);
  position: absolute;
  top: 490px;
  left: 230px;
  z-index: 1000;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  -webkit-box-shadow: 0 4px 0 var(--shadowcolor);
  box-shadow: 0 4px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:22px 0;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  font-size: large;
}
#nagoya:hover {
  -webkit-transform: translate(0, 3.7px);
  transform: translate(0, 3.7px);
  -webkit-box-shadow: 0 2px 0 var(--shadowcolor);
  box-shadow: 0 2px 0 var(--shadowcolor);
}
#kyoto {
  background-color:var(--basecolor);
  position: absolute;
  top: 270px;
  left: 260px;
  z-index: 1000;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 0 3px 0 var(--shadowcolor);
  box-shadow: 0 3px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:13px 0;
  vertical-align: middle;
  text-decoration: none;
  color:black;
  font-size: large;
}
#kyoto:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 var(--shadowcolor);
  box-shadow: 0 2px 0 var(--shadowcolor);
}
#osaka {
  background-color:var(--basecolor);
  position: absolute;
  top: 280px;
  left: 150px;
  z-index: 1000;
  border-radius: 50%;
  width: 82px;
  height: 82px;
  -webkit-box-shadow: 0 4px 0 var(--shadowcolor);
  box-shadow: 0 4px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:25px 0;
  vertical-align: middle;
  text-decoration: none;
  color:black;
  font-size: x-large;
}
#osaka:hover {
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
  -webkit-box-shadow: 0 2.7px 0 var(--shadowcolor);
  box-shadow: 0 2.7px 0 var(--shadowcolor);
}
#kobe {
  background-color:var(--basecolor);
  position: absolute;
  top: 400px;
  left: 160px;
  z-index: 1000;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  -webkit-box-shadow: 0 3px 0 var(--shadowcolor);
  box-shadow: 0 3px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:9px 0;
  vertical-align: middle;
  text-decoration: none;
  color:black;
}
#kobe:hover {
  -webkit-transform: translate(0, 2.5px);
  transform: translate(0, 2.5px);
  -webkit-box-shadow: 0 1.5px 0 var(--shadowcolor);
  box-shadow: 0 1.5px 0 var(--shadowcolor);
}
#hiroshima {
  background-color:var(--basecolor);
  position: absolute;
  top: 440px;
  left: 170px;
  z-index: 1000;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  -webkit-box-shadow: 0 3px 0 var(--shadowcolor);
  box-shadow: 0 3px  var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:10px 0;
  vertical-align: middle;
  text-decoration: none;
  color:black;
}
#hiroshima:hover {
  -webkit-transform: translate(0, 2.5px);
  transform: translate(0, 2.5px);
  -webkit-box-shadow: 0 1.5px 0 var(--shadowcolor);
  box-shadow: 0 1.5px 0 var(--shadowcolor);
}
#takamatsu {
  background-color:var(--basecolor);
  position: absolute;
  top: 470px;
  left: 205px;
  z-index: 1000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  -webkit-box-shadow: 0 3px 0 var(--shadowcolor);
  box-shadow: 0 3 px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:6px 0;
  vertical-align: middle;
  text-decoration: none;
  color:black;
}
#takamatsu:hover {
  -webkit-transform: translate(0, 2.2px);
  transform: translate(0, 2.2px);
  -webkit-box-shadow: 0 1.3px 0 var(--shadowcolor);
  box-shadow: 0 1.3px 0 var(--shadowcolor);
}
#kitakyusyu {
  background-color:var(--basecolor);
  position: absolute;
  top: 340px;
  left: 90px;
  z-index: 1000;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-box-shadow: 0 3px 0 var(--shadowcolor);
  box-shadow: 0 3px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:12px 0;
  vertical-align: middle;
  text-decoration: none;
  color:black;
  font-size: smaller;
}
#kitakyusyu:hover {
  -webkit-transform: translate(0, 2.5px);
  transform: translate(0, 2.5px);
  -webkit-box-shadow: 0 1.5px 0 var(--shadowcolor);
  box-shadow: 0 1.5px 0 var(--shadowcolor);
}
#fukuoka {
  background-color: var(--basecolor);
  position: absolute;
  top: 505px;
  left: 150px;
  z-index: 1000;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  -webkit-box-shadow: 0 4px 0 var(--shadowcolor);
  box-shadow: 0 4px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding:12px 0;
  vertical-align: middle;
  text-decoration: none;
  color:black;
  font-size: large; /*large*/
}
#fukuoka:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 var(--shadowcolor);
  box-shadow: 0 2px 0 var(--shadowcolor);
}
#okinawa {
  background-color: var(--basecolor);
  position: absolute;
  top: 500px; /*450*/
  left: 435px; /*335*/
  z-index: 1000;
  border-radius: 50%;
  width: 20.2px;
  height: 20.2px;
  -webkit-box-shadow: 0 3px 0 var(--shadowcolor);
  box-shadow: 0 3px 0 var(--shadowcolor);
  cursor: pointer;
  text-align: center;
  padding: 5px 0;
  vertical-align: middle;
  text-decoration: none;
  color:black;
  font-size: "xx-small";
}
#okinawa:hover {
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
  -webkit-box-shadow: 0 1px 0 var(--shadowcolor);
  box-shadow: 0 1px 0 var(--shadowcolor);
}
#allon {
  background-color:#546A7B;
  position: absolute;
  top: 200px;
  left: 110px;
  z-index: 1000;
  border-radius: 0%;
  width: 100px;
  height: 3 0px;
  -webkit-box-shadow: 0 5px 0 #47494b;
  box-shadow: 0 5px 0 #47494b;
  cursor: pointer;
  text-align: center;
  padding:3px 0;
  vertical-align: middle;
  text-decoration: none;
  color:white;
  font-size: medium;
  border-radius: 10%;
}
#allon:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #47494b;
  box-shadow: 0 2px 0 #47494b;
  border-radius: 10%;
}
#alloff {
  background-color:#546A7B;
  position: absolute;
  top: 240px;
  left: 110px;
  z-index: 1000;
  border-radius: 0%;
  width: 100px;
  height: 30px;
  -webkit-box-shadow: 0 5px 0 #47494b;
  box-shadow: 0 5px 0 #47494b;
  cursor: pointer;
  text-align: center;
  padding:3px 0;
  vertical-align: middle;
  text-decoration: none;
  color:white;
  font-size: medium;
  border-radius: 10%;
}
#alloff:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #47494b;
  box-shadow: 0 2px 0 #47494b;
  border-radius: 10%;
}
